In [3]:
data_panen = {
    'lokasi1': {
        'nama_lokasi': 'Kebun A',
        'hasil_panen': {
            'padi': 1200,
            'jagung': 800,
            'kedelai': 500
        }
    },
    'lokasi2': {
        'nama_lokasi': 'Kebun B',
        'hasil_panen': {
            'padi': 1500,
            'jagung': 900,
            'kedelai': 450
        }
    },
    'lokasi3': {
        'nama_lokasi': 'Kebun C',
        'hasil_panen': {
            'padi': 1100,
            'jagung': 750,
            'kedelai': 600
        }
    },
    'lokasi4': {
        'nama_lokasi': 'Kebun D',
        'hasil_panen': {
            'padi': 1300,
            'jagung': 850,
            'kedelai': 550
        }
    },
    'lokasi5': {
        'nama_lokasi': 'Kebun E',
        'hasil_panen': {
            'padi': 1400,
            'jagung': 950,
            'kedelai': 480
        }
    }
}

for lokasi, data in data_panen.items():
    print(f"Nama Lokasi: {data['nama_lokasi']}")
    print("Hasil Panen:")
    for komoditas, jumlah in data['hasil_panen'].items():
        print(f"  {komoditas}: {jumlah}")
    print()

Nama Lokasi: Kebun A
Hasil Panen:
  padi: 1200
  jagung: 800
  kedelai: 500

Nama Lokasi: Kebun B
Hasil Panen:
  padi: 1500
  jagung: 900
  kedelai: 450

Nama Lokasi: Kebun C
Hasil Panen:
  padi: 1100
  jagung: 750
  kedelai: 600

Nama Lokasi: Kebun D
Hasil Panen:
  padi: 1300
  jagung: 850
  kedelai: 550

Nama Lokasi: Kebun E
Hasil Panen:
  padi: 1400
  jagung: 950
  kedelai: 480

In [4]:
jumlah_jagung_lokasi2 = data_panen['lokasi2']['hasil_panen']['jagung']
print(f"Jumlah hasil panen jagung dari lokasi2: {jumlah_jagung_lokasi2}")

Jumlah hasil panen jagung dari lokasi2: 900

In [5]:
nama_lokasi3 = data_panen['lokasi3']['nama_lokasi']
print(f"Nama lokasi dari lokasi3: {nama_lokasi3}")

Nama lokasi dari lokasi3: Kebun C

In [7]:
hasil_padi = {}
hasil_kedelai = {}

for lokasi, data in data_panen.items():
    hasil_padi[lokasi] = data['hasil_panen']['padi']
    hasil_kedelai[lokasi] = data['hasil_panen']['kedelai']

In [8]:
padi_lokasi1 = data_panen['lokasi1']['hasil_panen']['padi']
kedelai_lokasi1 = data_panen['lokasi1']['hasil_panen']['kedelai']

padi_lokasi2 = data_panen['lokasi2']['hasil_panen']['padi']
kedelai_lokasi2 = data_panen['lokasi2']['hasil_panen']['kedelai']

padi_lokasi3 = data_panen['lokasi3']['hasil_panen']['padi']
kedelai_lokasi3 = data_panen['lokasi3']['hasil_panen']['kedelai']

padi_lokasi4 = data_panen['lokasi4']['hasil_panen']['padi']
kedelai_lokasi4 = data_panen['lokasi4']['hasil_panen']['kedelai']

padi_lokasi5 = data_panen['lokasi5']['hasil_panen']['padi']
kedelai_lokasi5 = data_panen['lokasi5']['hasil_panen']['kedelai']

Lokasi Kebun A dalam kondisi baik.
Lokasi Kebun B memerlukan perhatian khusus.
Lokasi Kebun C dalam kondisi baik.
Lokasi Kebun D memerlukan perhatian khusus.
Lokasi Kebun E memerlukan perhatian khusus.

In [ ]:
#Berhasil file baru